*{
	margin: 0px;
	padding: 0px;

}

body{
	width: 100%;

}
.font-bold{
	color: #2e3192;
	font-size: 22px;
	
}
.space-16{
	border-bottom: 1px solid #2e3192;
	margin: 32px 0;
	width: 1165px;
}
.header{
	height: 200px;
	width: 100%;

}
.header-top {
	height: 40px;
	width: 1165px;
	margin: 0 auto;
}
.header-mid {
	height: 115px;
	width: 100%;
	background: url(img/header.png) no-repeat center;
	background-size: cover
}
.header-bot {
	height: 40px;
	width: 100%;
	background: #2e3192;
}

.header-top-time {
	float: left;
	padding-left: 15px;
	padding-top: 9px;
}

.header-top-sdt {
	float: right;
	padding-top: 6px;
}
.header-top-sdt .hotline{
	background: #ed1c24;
    border-radius: 10px;
    padding: 3px 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    letter-spacing: -.005em;
    color: #fff;
}
.header-top-logo {
	float: left;
	padding-top: 10px;
}
.header-mid-text {
	padding-left: 330px;
    width: 700px;
    height: 25px;
    color: white;
    padding-top: 67px;
    font-size: 26px;
}
.header-bot-nav {
	margin: 0px auto;
	width: 1165px;
	height: 40px;
}
.header-bot-nav ul{
	
}
.header-bot-nav ul li {

	float: left;
	list-style: none;
	display: block;

	line-height: 40px;
	color: #fff;
}

.header-bot-nav ul li a {
	display: block;
	padding: 0px 12px 20px 0px;
	text-decoration: none;
	height: 20px;
	font-size: 17px;
}
.main-home-page {
	padding: 0px auto;
	margin: 0px auto;
	height: 720px;
	width: 100%;
	padding-top: 40px;
	width: 1165px;

}
.home_statistical {
	height: 50px;

}
.home__statistical-nav-content {
	height: 150px;
	width: 1120px;
}
.home__focus-flex {
	border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    margin-bottom: 20px;
	float: left;
	width: 1165px;
	height: 560px;
}
.home__focus-item {
	float: left;
	width: 690px;
}
.home__focus-item img{
	width: 100%;
}
.home__focus-list {
	float: left;
	width: 440px;
	height: 500px;
	border-right: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	margin-left: 20px;
}
.home__focus-list h2 {
	color: #2e3192;
	
	font-size: 30px;
}
.swiper-wrapper-text {

}
.swiper-wrapper span p {

	color: #bb1119;
}
.swiper-wrapper h3 {

}
.swiper-wrapper a h2 {
	color: blue;
}
.swiper-wrapper-bot h4 {
	color: #2e3192;
	text-align: center;
	padding-top: 70px;
	font-size: 20px;
}
.home__statistical-nav {
	clear: left;
	min-height: 200px;
}
.home__statistical-nav h3 {
	color: #2e3192;
	padding-top: 40px;
	padding-left: 30px;
	font-size: 30px;
}
.home__statistical-nav table {
	border: 1px solid #e8e8e8;
	font-size: 18px;
}
.home__statistical-nav table tr td {
	height: 35px;
	border-bottom: 1px solid #e8e8e8;

}
#home__statistical-nav-add {
	color: #DA2E59;
}
.home__juncture-flex {
	width: 1165px;
	height: 400px;
}
.home__juncture-flex-left {
	float: left;
	width: 580px;
	height: 420px;
	border-right: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
}

.home__juncture-flex-left h3 {
	color: #2e3192;
	padding-left: 35px;
	font-size: 30px;
}
.home__juncture-flex-left-contener {
	width: 580px;
	height: 150px;
	padding-top: 20px;
}
.home__juncture-flex-left-img {
	float: left;
	width: 223px;
}
.home__juncture-flex-left-text {
	float: left;
    width: 337px;
    margin: 10px
}
.home__juncture-flex-right {
	float: left;
	width: 580px;
	height: 420px;
	border-right: 1px solid #e8e8e8;
}
.home__juncture-flex-right h3 {
	color: #2e3192;
	padding-left: 35px;
	font-size: 30px;
}
.footer {
	clear: left;
	height: 150px;
	background: #2e3192;
}
.footer-img {
	float: left;
	padding-left: 150px;
	width: 80px;
	margin-top: -20px;
}
.footer-text {
	float: left;
	padding-left: 70px;
	width: 850px;
	padding-top: 10px;
	color: white;
}